<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Php_structure/

    # تجاهل الملفات والمجلدات الموجودة فعلاً
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # وجّه أي طلب للـ index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>